In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Зареждане на данните
administracii = pd.read_pickle('data/oblastni_administracii_2020_2023.pkl')

In [6]:
# Избор на колони за групиране
izbrani_koloni = ['Услуга №', 'Общ брой', 'Брой е-услуги']
za_grupirane = administracii[izbrani_koloni]
za_grupirane["Брой е-услуги"] = za_grupirane["Брой е-услуги"].fillna(0).astype("int64")

C:\Users\i_spa\AppData\Local\Temp\ipykernel_13980\3210984945.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  za_grupirane["Брой е-услуги"] = za_grupirane["Брой е-услуги"].fillna(0).astype("int64")

In [ ]:
# za_grupirane["Брой е-услуги"] = za_grupirane["Брой е-услуги"].fillna(0).astype("int64")

In [7]:
# Групиране по услуга
grupirani_po_usluga = za_grupirane.groupby("Услуга №")

In [8]:
#| label: tbl-broi-uslugi
#| tbl-cap: "Предоставени АУ за периода 2020-2023 г."
broi_uslugi = grupirani_po_usluga.sum()
pd.set_option('display.max.rows', 96)
broi_uslugi.style.set_properties(**{'text-align': 'right'})

In [ ]:
# Изброяване на услугите, предоставяни от областните администрации